<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href='@Url.Action("Index")'><p>Inicio</p></a></li>
                <li><img src="~/img/pregunti.png" alt="Logo" id="logo"/></li>
                <li><a href='@Url.Action("Records")'><p>Ver records</p></a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
    <img src="~/img/pregunti.png" alt="Logo" id="logo"/>
    <p>PreguntadORT - Szwarstein,Lopez</p>
    <a href=""><p>Ver más proyectos</p></a>  
      </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
