@{
    ViewData["Title"] = "Index";
}
<head>
  <link rel="stylesheet" href="~/css/style.css">
</head>

<body class= "configurar">
  <main>
    <form action='@Url.Action("Comenzar")'>
        <h1>Configuración</h1>
    <h3>Ingresá tu nombre:</h3>
    <input type="text" name="username" required>
      <h3>Dificultad:</h3>
      @{foreach(Dificultad dif in ViewBag.dif){
          <input type="radio" id="dif.nombre" name="dificultad" value=@dif.IdDificultad>
             <label for="dif.nombre">@dif.Nombre</label><br>

      }}
     <h3>Categoría</h3>
       @{foreach(Categoria cate in ViewBag.cate){
         <input type="radio" id="cate.nombre" name="categoria" value=@cate.idCategoria>
           <label for="cate.nombre">@cate.nombre</label><br>
      }}
    <input type="submit">
  </form>
  </main>
</body>

