@{
    ViewData["Title"] = "Final";
}
<head>
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="fin">

    <main>

    <h3>¡Terminaste las preguntas!</h3>
        <p>Tu puntaje: @ViewBag.info</p>
        <a href='@Url.Action("ConfigurarJuego")'>Volver a jugar</a>
        <a href='@Url.Action("records")' id="final">Ver tablero de puntajes</a>
    </main>

</body>