@{
    ViewData["Title"] = "Inicio";
}
<head>
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="index">
<main>
    <h1>PreguntadORT</h1>
    <div>
       <a href='@Url.Action("ConfigurarJuego")'>Empezar</a><br>
       <a href="">Créditos</a>
    </div>
</main>
</body>
