@{
    ViewData["Title"] = "Records";
}
<head>
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="index">
 
<main>
    <h1 id="enRecords">Mejores puntajes totales</h1>
       <a href='@Url.Action("ConfigurarJuego")' id="seguirJugando">¡Avanza en el top!</a><br>
    <div id="records">
    @foreach(Record puntaje in ViewBag.lista){
        <div id="record"> 
        <p id="nombre">Jugador: @puntaje.Username</p>
        <p id="puntaje">Puntaje: @puntaje.Puntaje</p>
        <p id="fecha">@puntaje.Fecha.ToString("dd/MM/yyyy")</p>
      
        </div>
    }
    </div>
    
</main>

</body>
