* {
  margin: 0%;
  padding: 0%;
  border: 1px solid black;
}

.index h1 {
  justify-self: center;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
 font-size: 64px;
}

.index main div {
  width: 30%;
  justify-self: center;
}

.index main div a {
  display: block;
  width: 20%;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  justify-self: center;
  text-align: center;
}

.configurar form {
  width: 40%;
  justify-self: center;
}

.configurar form input[type=text] {
  border-radius: 20px;
  width: 30%;
  padding: 0.5%;
}

.configurar form input[type=submit] {
  border-radius: 5px;
  width: 15%;
  margin-left: 10%;
  padding: 0.75%;
}



.jugar form {
  width: 80%;
  justify-self: center;
}
.jugar input [type=radio]{
}
.jugar #opciones{
  display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.jugar .opcion{
  padding: 2%;
  width: 80%;
}